@tailwind base;
@tailwind components;
@tailwind utilities;

/* CORE BODY */
:root {
  width: 100vw;
  height: 100vh;
  /* DESIGN SYSTEM */
  /* CORE THEME VARIABLES */
  --bg: #eee;
  --bgx: #ddd;
  --mg: #888;
  --mgx: #666;
  --fg: #000;
  --fgx: #000;
  --focusShade: #ccc;
}

/* FLAG */
.selectSafron::selection {
  color: #ed6125;
  background: #fff0;
}

.selectBlue::selection {
  color: blue;
  background: #fff0;
}

.selectGreen::selection {
  color: green;
  background: #fff0;
}
